/* h1 {
    color: black;
    font-size: 90px !important;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    padding-bottom: 30px;
    padding-top: 50px;
} */
h1{
    color: black;
    font-size: 75px !important;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    padding-bottom: 30px;
    padding-top: 50px;
    text-transform: capitalize;
}
h2{
    color: black;
    font-size: 30px !important;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-transform: capitalize;
}

/* h2 {
    color: #2d5337;
    font-size: 30px !important;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

h3{
    color: #ffffff;
    font-size: 20px !important;
    text-align: center;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
} */

h4 {
    color: #2d5337;
    font-size: 40px !important;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    padding-top: 10px;
}

p {
    font-size: 17px !important;
    color: #2d5337;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.p2 {
    font-size: 20px !important;
    margin-left: 20px;
    margin-right: 20px;
    padding-top:20px;
    
}

.p3 {
    font-size: 13px !important;
    margin-left: 20px;
    margin-right: 20px;
    padding-top:20px;
    
}

#img1 {
    width: 100%;
}
.img2 {
    padding: 10px;
    border-radius: 20px;
    align-items: center;
}
.img3{
    background-size: cover;
}

.img4{
    overflow:hidden;
}
.card {
    padding-left: 1% !important;
    padding-right: 1% !important;
}
#bg-img{
    background-image: url("src/media/Parcelafrutillar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white !important;
    font-weight: 600;
    font-style: normal;}

.centrar-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%!important;
    margin-top: 15px!important;
    border: 0px;
}

.row .card-img-top{
    height: 300px!important;
}
nav li ul {
    border: 1px grey;
    box-shadow: 2px;
}

.card-img-left {
    height: 30%;
    width: 80%;
    border-radius: 20px;
    object-fit: cover;
}

.card-img-right {
    margin-top: 20px;
    height: 300px;
    object-fit: cover;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}


.container {
    justify-content: center;
    margin-top: 5;
} 
#card_casa_p {
    align-items: center;
    border: #35543ea1 solid 2px!important;
}
#cardTitle {
    text-align: center;
}


.parent {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
.child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
  }



.padNos{
    padding-right:200px;
    padding-left:200px;
    padding-bottom: 40px;
}

.Fgris{
    background-color: rgba(70, 70, 70, 0.068);
}

.Fverde1{
    /* background-color: #5e8856; */
    background-color:#385134;
}

.accordion-item {
    border: none!important;
}
.accordion-button:focus {
    box-shadow: none!important;
    border-color: none!important;
}

.accordion-button:not(.collapsed) {
    background-color:#35543ea1!important;
    color: white!important;
}

.row {
    .col {
        padding: 20px;
    }
}

#tClaro {
    color: white;
}

/* navegador */
  .nav-item:hover {
    background-color: #35543ea1!important;
    cursor: pointer;
    border-radius: 10px;
    .nav-link {
        color: white!important;
    }
  }


/* boton ir arriba */
  .fa-solid {
	display:none;
	padding:10px;
	background:#35543ea1!important;
    color: white;
	font-size:25px;
	cursor:pointer;
	position:fixed;
	bottom:20px;
	right:20px;
    z-index: 999;
}

/* Color previous-next carousel */
.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(108%);
  }


/* .Altura de Misión*/
.altMision{
    height: 376.5px;
}

/* .Altura de Visión*/
.altVision{
    height: 376.5px;
}

/* Botón Contáctanos en Cards Servicios */
.cardFoot {
    padding:0.5rem 1rem !important;
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

/*centrar logo*/
.c-logo{
    display: flex;
    justify-content: space-around;
}
.mgf{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

/* Texto sobre imágenes */
.containerTxtImg {
    position: relative;
    width: 100%;
}

.imageTxtImg {
    display: block;
    width: 100%;
    height: auto;
}

.textTxtImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
}
.navbar-nav {
    justify-content: space-evenly!important;
    width: 100%!important;
  }
  